# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo

# Environments & secrets
.venv/
.env

# IDE
.idea/
.vscode/
.ipynb_checkpoints/


# Excel temp files
~$*.xlsx
~$*.xls

# Misc
*.log
